# MSSQL server settings
## Using SQL server auth
# MSSQL_USERNAME=sa
MSSQL_USERNAME='LaptopLisa/verho'
MSSQL_SA_PASSWORD=
MSSQL_LOCAL_PORT=1433
MSSQL_DOCKER_PORT=1433
# HOST = '127.0.0.1'
HOST = LAPTOPLISA
DATABASE = CRH
DB_DWH = CRH_DWH
DRIVER ='ODBC Driver 18 for SQL Server'

# True or false
MSSQL_USE_WIN_AUTH=true

# Docker config
CONTAINER_NAME=dep2g2-mssql-server
MSSQL_DATA_VOLUME_NAME=dep2-mssql-server-data

# Notebook configs
## DB connection

# LLM/HuggingFace

HUGGINGFACE_TOKEN='<token>'
